<h1>Workflow</h1>
<pre>Import important libraries<br>
Get data ready (turn into tensors)<br>
Built a LinearRegression model<br>
Pick a loss function and optimizer<br>
Build a training loop<br>
Evaluate your model<br>
Test modrl with a new data point<br>
Save the model</pre>

<h2>Import important libraries</h2>

In [1]:
import torch
import torch.nn as nn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

<h3>Get Data ready (turn into tensors)</h3>

In [2]:
df = pd.read_csv("practice.csv")
df

    Hours Studied (x_train)  Exam Score (y_train)
0                     3.300                 1.700
1                     4.400                 2.760
2                     5.500                 2.090
3                     6.710                 3.190
4                     6.930                 1.694
5                     4.168                 1.573
6                     9.779                 3.366
7                     6.182                 2.596
8                     7.590                 2.530
9                     2.167                 1.221
10                    7.042                 2.827
11                   10.791                 3.465
12                    5.313                 1.650
13                    7.997                 2.904
14                    3.100                 1.300

In [3]:
x_train = df.drop("Exam Score (y_train)",axis=1)
x_train

    Hours Studied (x_train)
0                     3.300
1                     4.400
2                     5.500
3                     6.710
4                     6.930
5                     4.168
6                     9.779
7                     6.182
8                     7.590
9                     2.167
10                    7.042
11                   10.791
12                    5.313
13                    7.997
14                    3.100

In [4]:
y_train = df.drop("Hours Studied (x_train)",axis=1)
y_train

    Exam Score (y_train)
0                  1.700
1                  2.760
2                  2.090
3                  3.190
4                  1.694
5                  1.573
6                  3.366
7                  2.596
8                  2.530
9                  1.221
10                 2.827
11                 3.465
12                 1.650
13                 2.904
14                 1.300

<h3>Convert into numpy array</h3>

In [5]:
x_train = x_train.to_numpy()
x_train

array([[ 3.3  ],
       [ 4.4  ],
       [ 5.5  ],
       [ 6.71 ],
       [ 6.93 ],
       [ 4.168],
       [ 9.779],
       [ 6.182],
       [ 7.59 ],
       [ 2.167],
       [ 7.042],
       [10.791],
       [ 5.313],
       [ 7.997],
       [ 3.1  ]])

In [6]:
y_train = y_train.to_numpy()
y_train, y_train.dtype

(array([[1.7  ],
        [2.76 ],
        [2.09 ],
        [3.19 ],
        [1.694],
        [1.573],
        [3.366],
        [2.596],
        [2.53 ],
        [1.221],
        [2.827],
        [3.465],
        [1.65 ],
        [2.904],
        [1.3  ]]),
 dtype('float64'))

<h2>Change datatype from float64 into float32</h2>

In [7]:
# x_train = x_train.astype(np.float32)
# y_train = y_train.astype(np.float32)

In [8]:
# x_train

In [9]:
# y_train

<h3>Plot into pyplot</h3>

In [ ]:
fig = plt.figure(figsize=(10,5))
plt.plot(x_train,y_train,'ro',label='Original Data')
plt.xlabel('Hours Studied')
plt.ylabel('Exam Score')
plt.legend()
plt.title('Exam Score Prediction')
plt.show()

<h3>Convert into pytorch tensor</h3>

In [ ]:
x_train = torch.from_numpy(x_train)
y_train = torch.from_numpy(y_train)

In [ ]:
x_train, y_train

In [ ]:
x_train = x_train.type(torch.FloatTensor) #to change into 32-bit
y_train = y_train.type(torch.FloatTensor)

<h3>Using the type() method:</h3>
<p>
x = x.type(torch.FloatTensor) <br>

torch.FloatTesor = torch.float32 <br> 
torch.DoubleTensor = torch.float64 <br>
torch.IntTensor = torch.int32 <br>
</p>


<h3>Using the to() method:</h3>
<p>
x = x.to(torch.float16) <br>
</p>

<h3>2 .Build a Linear Regresson model</h3>

In [ ]:
class LinearRegresson(nn.Module):
    def __init__(self):
        super().__init__()
        self.linear = nn.Linear(1,1)
    def forward(self,x):
        out = self.linear(x)
        return out

In [ ]:
model = LinearRegresson()

In [ ]:
model

In [ ]:
list(model.parameters())

In [ ]:
model.state_dict()

w*x + b <br>
x = 3.3000, w = 0.6205 b = 0.6247

<h3>3. Pick a loss Function and Optimizer</h3>

In [ ]:
criterion = nn.MSELoss()
optimizer = torch.optim.SGD(model.parameters(), lr = 1e-4) #0.0001

<h3>4. Build a training loop</h3>

In [ ]:
num_epochs = 1000

In [ ]:
for epoch in range(num_epochs):
    model.train()
    out = model(x_train) #forward pass
    loss = criterion(out, y_train)
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()
    if (epoch +1) % 20 == 0:
        print(f"Epoch: [{epoch+1} / {num_epochs}], loss: {loss.item():.6f}")

<h3>5 Evaluate the model</h3>

In [ ]:
model.eval()
with torch.no_grad():
    prediction = model(x_train)
prediction.data.numpy()

In [ ]:
y_train

In [ ]:
fig = plt.figure(figsize=(10,5))
plt.plot(x_train.numpy(),y_train.numpy(),'ro',label='Original Data')
plt.plot(x_train.numpy(),prediction,label='Fitted_line')
plt.xlabel('Hours Studied')
plt.ylabel('Exam Score')
plt.legend()
plt.title('Exam Score Prediction')
plt.show()

In [ ]:
model.state_dict()

<h3>Test the model with the new datapoint</h3>

In [ ]:
new_data = 8.0
new_hours_tensor = torch.tensor([[new_data]], dtype = torch.float32)

In [ ]:
model.eval()
with torch.no_grad():
    new_exam_score = model(new_hours_tensor)
print(f"Predicted exam score: {new_exam_score.item()}")

In [ ]:
fig = plt.figure(figsize=(10,5))
plt.plot(x_train.numpy(),y_train.numpy(),'ro',label='Original Data')
plt.plot(x_train.numpy(),prediction,label='Fitted_line')
plt.scatter([new_data],[new_exam_score.item()],color='blue',label='New data_point')
plt.xlabel('Hours Studied')
plt.ylabel('Exam Score')
plt.legend()
plt.title('Exam Score Prediction')
plt.show()

<h3>Sava the model</h3>

In [ ]:
model.state_dict()

In [ ]:
torch.save(model.state_dict(),"./LinearRegression.pth")