In [1]:
"""
df = pd.read_csv(file, header=None) #to give header in numbers

names = ["PassengerID", "Survived", "Pclass", "Name", "Sex", "Age", "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"]
df = pd.read_csv(file, names=names) to give column names

df = pd.read_csv(file, sep="@") #to read file with any specific seperator

df = pd.read_csv(file, skiprows=[2, 4, 6]) #to skip rows

07:35 / 16:57
"""
import pandas as pd

In [3]:
file = "titanic.csv"
df = pd.read_csv(file)

print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [6]:
df = pd.read_csv(file, header=None) #to give header into numbers
print(df.head())

            0         1       2   \
0  PassengerId  Survived  Pclass
1            1         0       3
2            2         1       1
3            3         1       3
4            4         1       1

                                                  3       4    5      6   \
0                                               Name     Sex  Age  SibSp
1                            Braund, Mr. Owen Harris    male   22      1
2  Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38      1
3                             Heikkinen, Miss. Laina  female   26      0
4       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35      1

      7                 8        9      10        11
0  Parch            Ticket     Fare  Cabin  Embarked
1      0         A/5 21171     7.25    NaN         S
2      0          PC 17599  71.2833    C85         C
3      0  STON/O2. 3101282    7.925    NaN         S
4      0            113803     53.1   C123         S

In [9]:
names = ["PassengerID", "Survived", "Pclass", "Name", "Sex", "Age", "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"]
df = pd.read_csv(file, names=names)
print(df.head())

   PassengerID  Survived  Pclass  \
0  PassengerId  Survived  Pclass
1            1         0       3
2            2         1       1
3            3         1       3
4            4         1       1

                                                Name     Sex  Age  SibSp  \
0                                               Name     Sex  Age  SibSp
1                            Braund, Mr. Owen Harris    male   22      1
2  Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38      1
3                             Heikkinen, Miss. Laina  female   26      0
4       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35      1

   Parch            Ticket     Fare  Cabin  Embarked
0  Parch            Ticket     Fare  Cabin  Embarked
1      0         A/5 21171     7.25    NaN         S
2      0          PC 17599  71.2833    C85         C
3      0  STON/O2. 3101282    7.925    NaN         S
4      0            113803     53.1   C123         S

In [19]:
df = pd.read_csv(file, skiprows=[2, 4, 6])
print(df.head())

   PassengerId  Survived  Pclass                            Name     Sex  \
0            1         0       3         Braund, Mr. Owen Harris    male
1            3         1       3          Heikkinen, Miss. Laina  female
2            5         0       3        Allen, Mr. William Henry    male
3            7         0       1         McCarthy, Mr. Timothy J    male
4            8         0       3  Palsson, Master. Gosta Leonard    male

    Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0  22.0      1      0         A/5 21171   7.2500   NaN        S
1  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
2  35.0      0      0            373450   8.0500   NaN        S
3  54.0      0      0             17463  51.8625   E46        S
4   2.0      3      1            349909  21.0750   NaN        S