In [ ]:
"""
single columns = series
multiple columns = dataframe
"""

In [13]:
import pandas as pd

file = "titanic.csv"
df = pd.read_csv(file)

print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [14]:
print(df.dtypes) #to check datatype (object = string) in pandas

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [15]:
print(df.columns) #to check columns in pandas

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [16]:
q = df["Ticket"] #extracting one single colum called as series in case of list only
print(type(q))

<class 'pandas.core.series.Series'>

In [17]:
"""example1"""
print(df["Ticket"][0:6]) #first six row of ticket

0           A/5 21171
1            PC 17599
2    STON/O2. 3101282
3              113803
4              373450
5              330877
Name: Ticket, dtype: object

In [18]:
"""example2"""
print(df["Ticket"].head(6))

0           A/5 21171
1            PC 17599
2    STON/O2. 3101282
3              113803
4              373450
5              330877
Name: Ticket, dtype: object

In [19]:
"""select multiple columns"""
print(df[["Survived", "Pclass"]])
print(type(df[["Survived", "Pclass"]]))

     Survived  Pclass
0           0       3
1           1       1
2           1       3
3           1       1
4           0       3
..        ...     ...
886         0       2
887         1       1
888         0       3
889         1       1
890         0       3

[891 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>