In [2]:
import pandas as pd

C:\Users\Abdul\AppData\Local\Temp\ipykernel_9884\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
pd.__version__ #to check version of pandas

'2.2.0'

Creating Series = Vector

In [4]:
l = [1, 2, -3, 6.2, "data values"]
print(l)
print(type(l))

[1, 2, -3, 6.2, 'data values']
<class 'list'>

In [5]:
s = pd.Series(l)
print(s)
print()

print(type(s))

0              1
1              2
2             -3
3            6.2
4    data values
dtype: object

<class 'pandas.core.series.Series'>

In [6]:
s2 = pd.Series([1,2,3,4])
print(s2)
print()

print(type(s2))

0    1
1    2
2    3
3    4
dtype: int64

<class 'pandas.core.series.Series'>

In [7]:
s3 = pd.Series([]) #to create an empty Series
s3

Series([], dtype: object)

In [8]:
s4 = pd.Series([1,2,3,4], index=["a","b", "c", "d"]) #to change index
s4

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
s5 = pd.Series([1,2,3,4], dtype=float) #to change datatype
s5

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [10]:
s6 = pd.Series([1,2,3,4], name="Data values") #to give a name
s6

0    1
1    2
2    3
3    4
Name: Data values, dtype: int64

Create Series using scaler value

In [12]:
sc = pd.Series(0.5) #to create Series using scaler value
sc

0    0.5
dtype: float64

In [13]:
sc2 = pd.Series(0.5, index=[1,2,3,4]) #to create Series using multiple index
sc2

1    0.5
2    0.5
3    0.5
4    0.5
dtype: float64

In [14]:
ds = pd.Series({"a":1, "b":2, "c":3, "d":4}) #create Series using dictionary
ds

a    1
b    2
c    3
d    4
dtype: int64

Series indexing

In [22]:
x = pd.Series([1,2,3,11,4,5,6,7,8])
x

0     1
1     2
2     3
3    11
4     4
5     5
6     6
7     7
8     8
dtype: int64

In [23]:
x[2]

3

Series slicing

In [24]:
x[1:3]

1    2
2    3
dtype: int64

In [25]:
max(x) #to get maximum value

11

In [26]:
min(x) #to get minimum value

1

In [27]:
x[x>5] #to get all values that is greater than 5

3    11
6     6
7     7
8     8
dtype: int64

In [28]:
x = pd.Series([1,2,3])
y = pd.Series([5,4,7])
z = pd.Series([7,8,9,2,4])

In [29]:
x+y

0     6
1     6
2    10
dtype: int64

In [30]:
x+z

0     8.0
1    10.0
2    12.0
3     NaN
4     NaN
dtype: float64