<h1>Euler's_number</h1>

<img src="../../pics/examples/01_eulers_number.jpg/" width=600, height=200>

In [3]:
import math

In [4]:
e = 2.718281828459045
e2 = math.e

In [5]:
print(e,type(e))
print(e2, type(e))

2.718281828459045 <class 'float'>
2.718281828459045 <class 'float'>

<h2>Natural Exponential Function</h2>

<img src="../../pics/examples/02_natural_exponential_function.jpg/" width=600, height=200>

In [8]:
def exp(arg):
    return e**arg

In [9]:
x = 3
exp1 = exp(x)
exp2 = math.exp(x)
print(exp1,type(exp1))
print(exp2,type(exp2))

20.085536923187664 <class 'float'>
20.085536923187668 <class 'float'>