In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("homeprices.csv")
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [6]:
type(df) #to check type

pandas.core.frame.DataFrame

In [7]:
df.columns #to check columns name

Index(['area', 'price'], dtype='object')

In [11]:
df.head(3) #to get only 3 rows

   area   price
0  2600  550000
1  3000  565000
2  3200  610000

In [10]:
df = pd.read_csv("homeprices.csv", nrows=3) #to read only 3 rows
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000

In [12]:
df = pd.read_csv("homeprices.csv", usecols=[0]) #to read any desired columns
df

   area
0  2600
1  3000
2  3200
3  3600
4  4000

In [14]:
df = pd.read_csv("homeprices.csv", usecols=[0,1]) #to read any desired columns
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [20]:
df = pd.read_csv("homeprices.csv", skiprows=1) #to skip any row
df

   2600  550000
0  3000  565000
1  3200  610000
2  3600  680000
3  4000  725000

In [21]:
df = pd.read_csv("homeprices.csv", skiprows=[2]) #to skip any specific row
df

   area   price
0  2600  550000
1  3200  610000
2  3600  680000
3  4000  725000

In [22]:
df = pd.read_csv("homeprices.csv", skiprows=[1,3]) #to skip multiple rows
df

   area   price
0  3000  565000
1  3600  680000
2  4000  725000

In [23]:
df = pd.read_csv("homeprices.csv")
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [27]:
df = pd.read_csv("homeprices.csv", index_col="area") #to change any columns into index by name
df

       price
area
2600  550000
3000  565000
3200  610000
3600  680000
4000  725000

In [31]:
df = pd.read_csv("homeprices.csv", index_col=0) #to change any columns into index by index number
df

       price
area
2600  550000
3000  565000
3200  610000
3600  680000
4000  725000

In [32]:
df = pd.read_csv("homeprices.csv", index_col="price") #to change any columns into index by name
df

        area
price
550000  2600
565000  3000
610000  3200
680000  3600
725000  4000

In [33]:
df = pd.read_csv("homeprices.csv", index_col=1) #to change any columns into index by index number
df

        area
price
550000  2600
565000  3000
610000  3200
680000  3600
725000  4000