In [85]:
from string import punctuation
import numpy as np

In [86]:
s = "This is an apple. I love apple. The apple is red."

<h2>One-Hot Encoding</h2>

<h3>Preprocess the Sentence</h3>

<p>First, normalize (lowercase) and remove punctuation</p>

In [87]:
punc = list(punctuation)
# punc

<h2>1. Remove punctuations and change into lowercase</h2>

In [88]:
def removePunc(arg):
    words = ""
    for i in s:
        if i not in punc:
            words += i
    return words.lower()

In [89]:
s2 = removePunc(s)
s2

'this is an apple i love apple the apple is red'

<h2>2. Split into words</h2>

In [90]:
s2 = s2.split()
print(s2)

['this', 'is', 'an', 'apple', 'i', 'love', 'apple', 'the', 'apple', 'is', 'red']

<h2>3. Create Vocabulary (extract unique words)</h2>

In [91]:
s2 = sorted(set(s2))
print(s2)

['an', 'apple', 'i', 'is', 'love', 'red', 'the', 'this']

<h2>4. One-hot encoding</h2>

In [105]:
l = len(s2)
dummy = np.zeros((l, l),dtype=np.float32)
dummy

array([[0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.]], dtype=float32)

In [106]:
for i in range(l):
    dummy[i][i] = 1.0

In [107]:
dummy

array([[1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1.]], dtype=float32)

In [ ]:
dummy