In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
df = pd.read_csv("execise.csv")
df

   Region  Temp(f)  Rainfall(mm)  Humidity(%)  Apple(ton)  Orange(ton)
0   Kanto       73            67           43          56           70
1   Johto       91            88           64          81          101
2   Hoenn       87           134           58         119          133
3  Sinnoh      102           430           37          22          137
4   Unova       69            96           70         103          119

In [16]:
x_train = df.drop(["Apple(ton)","Orange(ton)"],axis=1)
x_train

   Region  Temp(f)  Rainfall(mm)  Humidity(%)
0   Kanto       73            67           43
1   Johto       91            88           64
2   Hoenn       87           134           58
3  Sinnoh      102           430           37
4   Unova       69            96           70

In [17]:
y_train = df.drop(["Region","Temp(f)","Rainfall(mm)","Humidity(%)"],axis=1)
y_train

   Apple(ton)  Orange(ton)
0          56           70
1          81          101
2         119          133
3          22          137
4         103          119

In [18]:
x_train = x_train.to_numpy()
x_train

array([['Kanto', 73, 67, 43],
       ['Johto', 91, 88, 64],
       ['Hoenn', 87, 134, 58],
       ['Sinnoh', 102, 430, 37],
       ['Unova', 69, 96, 70]], dtype=object)

In [19]:
y_train = y_train.to_numpy()
y_train, y_train.dtype

(array([[ 56,  70],
        [ 81, 101],
        [119, 133],
        [ 22, 137],
        [103, 119]], dtype=int64),
 dtype('int64'))