In [ ]:
"""
use pandas only use for structured Data otherwise don't use it

df = dataFrame
csv = comma seperated value
xlsx = excel file

Reading different file formats with Pandas:
    df = pd.read_csv(file_csv) #to read csv file
    df = pd.read_json(file_xlsx) #to read json file
    df = pd.read_html(file_html) #to read html file
    df = pd.read_excel(file_xlsx) #to read excel file

    print(df.sheet_names) #to check available sheets (only for excel file)
    df = pd.read_excel(file_xlsx, sheet_name="survivors") #if sheets are available

"""

In [1]:
import pandas as pd #pip install pandas

file_csv = r"titanic.csv" #for csv file

In [2]:
df = pd.read_csv(file_csv)
head = df.head() #to read only five rows from top
tail = df.tail() #to read only five rows from bottom
head4 = df.head(4) #to read desired numbers of rows from top

# print(df)
# print(tail)
print(head4)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S