In [1]:
import pandas as pd

"""example1"""
lst = [
    ["apple", "red", 11],
    ["grapes", "green", 22],
    ["orange", "orange", 33],
    ["mango", "yellow", 44]
]

In [4]:
df = pd.DataFrame(lst, columns = ["Fruits", "Color", "Value"])
df

   Fruits   Color  Value
0   apple     red     11
1  grapes   green     22
2  orange  orange     33
3   mango  yellow     44

In [7]:
"""example2"""
n = ["apples", "grapes", "orange", "mango"]
col = ["red", "green", "orange", "yellow"]
val = [11, 22, 33, 44]
dic = {"fruit": n, "color": col, "value": val}
df = pd.DataFrame(dic)
df

    fruit   color  value
0  apples     red     11
1  grapes   green     22
2  orange  orange     33
3   mango  yellow     44

In [8]:
df.to_csv("fruits.csv", index=False)