<p>
    A tuple contains a group of elements which can be same or different types.<br>
    Tuples are similar to list but it's read-only (immutable) which means we can't modify it's element<br>
    We use it to store data which should not be modified<br>
    It's occupies less memory campare to list<br>
    Tuples are represented using parentheses "()".
</p>

<h2>Creating tuple</h2>

In [10]:
a = () #to create an empty tuple
print(a) #to print data
print(type(a)) #to check datatype

()
<class 'tuple'>

In [20]:
b = (10,) #to create a single element tuple
print(b)
print(type(b))

(10,)
<class 'tuple'>

In [22]:
c = 10,20,40,30 #to create multiple element tuple
print(c)
print(type(c))

(10, 20, 40, 30)
<class 'tuple'>

In [24]:
c = (10,20,50,30)
print(c)
print(type(c))

(10, 20, 50, 30)
<class 'tuple'>

<h2>Tuple indexing</h2>

In [27]:
a = (10,20,30,40)

<p>
    0 = 10<br>
    1 = 20<br>
    2 = 30<br>
    3 = 40<br><br>

-1 = 40<br>
-2 = 30<br>
-3 = 20<br>
-4 = 10
</p>

In [33]:
print(a[1])
print(a[-2])

20
30

<h2>Tuple slicing</h2>
<p>
    Slicing on tuple can be used to retrieve a piece of the tuple that contains a group of elements. Slicing is useful to retrieve a range of elements.
</p>

In [3]:
x = (1,2,3,4,5,6,7)

In [5]:
print(f"Original tuple: {x}")

Original tuple: (1, 2, 3, 4, 5, 6, 7)

In [58]:
print(f"From 0th position to last position: {x[0:]}")

From 0th position to last position: (1, 2, 3, 4, 5, 6, 7)

In [66]:
print(f"From 1st position to 4th position: {x[1:5]}")

From 1st position to 4th position: (2, 3, 4, 5)

In [68]:
print(f"From 0th position to 4th position: {x[:5]}")

From 0th position to 4th position: (1, 2, 3, 4, 5)

In [70]:
print(f"Only last 4 elements: {x[-4:]}")

Only last 4 elements: (4, 5, 6, 7)

In [74]:
print(f"From 0th position to 5th position stribe 2: {x[0:6:2]}")

From 0th position to 5th position stribe 2: (1, 3, 5)

In [7]:
print(f"Last 5 elements with [-5-(-3)] = 2 elements towards right: {x[-5:-3]}")

Last 5 elements with [-5-(-3)] = 2 elements towards right: (3, 4)

In [15]:
print(f"From 0th position to 3rd position: {x[:3]}")

From 0th position to 3rd position: (1, 2, 3)

In [17]:
print(f"From 4th position to last position: {x[4:]}")

From 4th position to last position: (5, 6, 7)

<h2>Accessing tuple using loop</h2>

In [36]:
a = (10,21,22.3,"Artificialworld")
a

(10, 21, 22.3, 'Artificialworld')

In [38]:
"""access tuple without index"""
for i in a:
    print(i)

10
21
22.3
Artificialworld

In [40]:
"""access tuple with index"""
for i in range(len(a)):
    print(a[i])

10
21
22.3
Artificialworld

In [42]:
"""access tuple with index numbers"""
for i in range(len(a)):
    print(i,a[i])

0 10
1 21
2 22.3
3 Artificialworld

<h2>tuple concatenation</h2>
<p>"+" operator is used to do concatenation the tuple</p>

In [80]:
a = (1,3,5)
b = (4,6,8)
c = (8,6,9)
result = a+b+c
print(result)

(1, 3, 5, 4, 6, 8, 8, 6, 9)

<h2>Deleting tuple</h2>
<p>You can delete entire tuple but not an element of it.</p>

In [22]:
a = (1,3,4,7)
a

(1, 3, 4, 7)

In [24]:
del a