<p>
    A tuple contains a group of elements which can be same or different types.<br>
    Tuples are similar to list but it's read-only (immutable) which means we can't modify it's element<br>
    We use it to store data which should not be modified<br>
    It's occupies less memory campare to list<br>
    Tuples are represented using parentheses "()".
</p>

<h2>Creating tuple</h2>

In [3]:
a = () #to create an empty tuple
print(a) #to print data
print(type(a)) #to check datatype

()
<class 'tuple'>

In [4]:
b = (10,) #to create a single element tuple
print(b)
print(type(b))

(10,)
<class 'tuple'>

In [5]:
c = 10,20,40,30 #to create multiple element tuple
print(c)
print(type(c))

(10, 20, 40, 30)
<class 'tuple'>

In [6]:
c = (10,20,50,30)
print(c)
print(type(c))

(10, 20, 50, 30)
<class 'tuple'>

<h2>Tuple indexing</h2>

In [8]:
a = (10,20,30,40)

<p>
    0 = 10<br>
    1 = 20<br>
    2 = 30<br>
    3 = 40<br><br>

-1 = 40<br>
-2 = 30<br>
-3 = 20<br>
-4 = 10
</p>

In [10]:
print(a[1])
print(a[-2])

20
30

<h2>Tuple slicing</h2>
<p>
    Slicing on tuple can be used to retrieve a piece of the tuple that contains a group of elements. Slicing is useful to retrieve a range of elements.
</p>

In [12]:
x = (1,2,3,4,5,6,7)

In [13]:
print(f"Original tuple: {x}")

Original tuple: (1, 2, 3, 4, 5, 6, 7)

In [14]:
print(f"From 0th position to last position: {x[0:]}")

From 0th position to last position: (1, 2, 3, 4, 5, 6, 7)

In [15]:
print(f"From 1st position to 4th position: {x[1:5]}")

From 1st position to 4th position: (2, 3, 4, 5)

In [16]:
print(f"From 0th position to 4th position: {x[:5]}")

From 0th position to 4th position: (1, 2, 3, 4, 5)

In [17]:
print(f"Only last 4 elements: {x[-4:]}")

Only last 4 elements: (4, 5, 6, 7)

In [18]:
print(f"From 0th position to 5th position stribe 2: {x[0:6:2]}")

From 0th position to 5th position stribe 2: (1, 3, 5)

In [19]:
print(f"Last 5 elements with [-5-(-3)] = 2 elements towards right: {x[-5:-3]}")

Last 5 elements with [-5-(-3)] = 2 elements towards right: (3, 4)

In [20]:
print(f"From 0th position to 3rd position: {x[:3]}")

From 0th position to 3rd position: (1, 2, 3)

In [21]:
print(f"From 4th position to last position: {x[4:]}")

From 4th position to last position: (5, 6, 7)

<h2>Accessing tuple using loop</h2>

In [23]:
a = (10,21,22.3,"Artificialworld")
a

(10, 21, 22.3, 'Artificialworld')

In [24]:
"""access tuple without index"""
for i in a:
    print(i)

10
21
22.3
Artificialworld

In [25]:
"""access tuple with index"""
for i in range(len(a)):
    print(a[i])

10
21
22.3
Artificialworld

In [26]:
"""access tuple with index numbers"""
for i in range(len(a)):
    print(i,a[i])

0 10
1 21
2 22.3
3 Artificialworld

<h2>tuple concatenation</h2>
<p>"+" operator is used to do concatenation the tuple</p>

In [28]:
a = (1,3,5)
b = (4,6,8)
c = (8,6,9)
result = a+b+c
print(result)

(1, 3, 5, 4, 6, 8, 8, 6, 9)

<h2>Deleting tuple</h2>
<p>You can delete entire tuple but not an element of it.</p>

In [30]:
a = (1,3,4,7)
a

(1, 3, 4, 7)

In [31]:
del a

<h2>Getting input from user</h2>

In [33]:
a = []
n = int(input("Enter number of elements: "))
for i in range(n):
    a.append(int(input("Enter element: ")))
print(a, type(a))
a = tuple(a) #to convert list into tuple
print(a, type(a))

Enter number of elements:  4
Enter element:  3
Enter element:  2
Enter element:  8
Enter element:  6

[3, 2, 8, 6] <class 'list'>
(3, 2, 8, 6) <class 'tuple'>

<h2>Repeatation of tuple</h2>

In [35]:
a = (1,2,3)
a

(1, 2, 3)

In [36]:
result = a*4 #to repeat tuple four times
result

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

<h2>Aliasing</h2>
<p>Aliasing means giving another name to the existing object. It doesn't mean copying</p>

In [38]:
a = (10,20,40,30,50)
b = a #to aliasing b as a
c = a[:] #if you slice full object then the data will be not copy.
d = a[:3] #if you slice less object then the data will be copy.

In [39]:
print(a,id(a))
print(b,id(b))
print(c,id(c))
print(d,id(d))

(10, 20, 40, 30, 50) 2268087083840
(10, 20, 40, 30, 50) 2268087083840
(10, 20, 40, 30, 50) 2268087083840
(10, 20, 40) 2268069444608

<h2>Nested tuple</h2>
<p>
    A tuple within another tuple is called as nested tuple or nested of a tuple.
</p>

In [41]:
a = ((10,20,40),(40,20,10))
a

((10, 20, 40), (40, 20, 10))

In [42]:
b = (
    (10,30,20),
    (30,50,40)
)
b

((10, 30, 20), (30, 50, 40))

In [43]:
c = (10,20,30,(40,50))
c

(10, 20, 30, (40, 50))

<h3>accessing nested tuple</h3>

In [45]:
a = (10,20,30,(40,50))

In [46]:
a[0]

10

In [47]:
a[2]

30

In [48]:
a[3]

(40, 50)

In [49]:
a[3][1]

50

In [50]:
b = ((10,20,30),(40,50,60))

In [51]:
b[0]

(10, 20, 30)

In [52]:
b[1]

(40, 50, 60)

In [53]:
b[0][1]

20

In [54]:
b[1][2]

60

<h2>Accessing nested tuple using for loop</h2>
<h3>Example1</h3>

In [56]:
a = (10,20,30,(40,50))
for i in range(len(a)):
    if type(a[i]) is tuple:
        if len(a[i])>1:
            for j in range(len(a[i])):
                print(i,j,a[i][j])
    else:
        print(i,a[i])

0 10
1 20
2 30
3 0 40
3 1 50

<h3>Example2 without index</h3>

In [58]:
a = ((10,20,30),(40,50,60))
for i in a:
    for j in i:
        print(j)
    print()

10
20
30

40
50
60

<h3>Example3 with index</h3>

In [60]:
a = ((10,20,30),(40,50,60))
for i in range(len(a)):
    for j in range(len(a[i])):
        print(i,j, a[i][j])
    print()

0 0 10
0 1 20
0 2 30

1 0 40
1 1 50
1 2 60

<h2>Slicing nested tuple</h2>

In [62]:
x = ((10,20,30),
     (30,40,50),
     (60,70,80),
     (21,22,23),
     (44,55,66),
     (77,88,99),
     (12,13,14))

In [63]:
x

((10, 20, 30),
 (30, 40, 50),
 (60, 70, 80),
 (21, 22, 23),
 (44, 55, 66),
 (77, 88, 99),
 (12, 13, 14))

In [64]:
print(f"From 0th position to last position:\n{x[0:]}")

From 0th position to last position:
((10, 20, 30), (30, 40, 50), (60, 70, 80), (21, 22, 23), (44, 55, 66), (77, 88, 99), (12, 13, 14))

In [65]:
print(f"From 1st position to 4th position:\n{x[1:5]}")

From 1st position to 4th position:
((30, 40, 50), (60, 70, 80), (21, 22, 23), (44, 55, 66))

In [66]:
print(f"From 0th position to 4th position:\n{x[:5]}")

From 0th position to 4th position:
((10, 20, 30), (30, 40, 50), (60, 70, 80), (21, 22, 23), (44, 55, 66))

In [67]:
print(f"Last 4 tuple:\n{x[-4:]}")

Last 4 tuple:
((21, 22, 23), (44, 55, 66), (77, 88, 99), (12, 13, 14))

In [68]:
print(f'From 0th position to 6th position stepsize 2:\n{x[0:7:2]}')

From 0th position to 6th position stepsize 2:
((10, 20, 30), (60, 70, 80), (44, 55, 66), (12, 13, 14))

In [69]:
print(f"Last 5 tuple with -5(-3) = 2 lists towards right:\n{x[-5:-3]}")

Last 5 tuple with -5(-3) = 2 lists towards right:
((60, 70, 80), (21, 22, 23))

In [70]:
print(f"Slice nested 2nd position, 0th position:\n{x[2:3]}")

Slice nested 2nd position, 0th position:
((60, 70, 80),)

In [71]:
print(f"Slice 2nd position, 0th position:\n{x[2:3][0]}")

Slice 2nd position, 0th position:
(60, 70, 80)

<h2>Slicing and extracting elements</h2>

In [73]:
print(f'Slice 2nd tuple then extract elements:\n{x[2:3][0][0]}')

Slice 2nd tuple then extract elements:
60

<h3>Extracting all elements</h3>

In [75]:
z = x[2:3][0]
for i in z:
  print(i)

60
70
80

In [76]:
print(f'Last 4 elements:\n{x[-4:]}')

Last 4 elements:
((21, 22, 23), (44, 55, 66), (77, 88, 99), (12, 13, 14))

In [77]:
print(f'1st index of last 4 elements:\n{x[-4:][1]}')

1st index of last 4 elements:
(44, 55, 66)

In [78]:
print(f'Last nested 4 lists then 1st position then extract elements:\n{x[-4:][1][0]}')

Last nested 4 lists then 1st position then extract elements:
44

In [79]:
l = x[-4:][1]
for i in l:
  print(i)

44
55
66

<h2>List of tuples</h2>

In [144]:
a = [10,20,(30,40)]

In [148]:
print(a)
print(type(a))
print(id(a))

[10, 20, (30, 40)]
<class 'list'>
2268110233920

<h3>Appending a new tuple of list</h3>

In [151]:
a.append((50,60))

In [153]:
print(a)
print(type(a))
print(id(a))

[10, 20, (30, 40), (50, 60)]
<class 'list'>
2268110233920

<h3>Accessing tuple of list using for-loop</h3>

In [158]:
for i in range(len(a)):
    if type(a[i]) is tuple:
        if len(a[i])>1:
            for j in range(len(a[i])):
                print(i,j, a[i][j])
    else:
        print(i, a[i])

0 10
1 20
2 0 30
2 1 40
3 0 50
3 1 60

In [162]:
a = [(10,20,30), (40,50,60)]

In [166]:
for i in range(len(a)):
    for j in range(len(a[i])):
        print(i,j,a[i][j])
    print()

0 0 10
0 1 20
0 2 30

1 0 40
1 1 50
1 2 60

<h2>Tuple of lists</h2>

In [2]:
a = (10,20,[30,40])

In [6]:
print(a)
print(type(a))
print(id(a))

(10, 20, [30, 40])
<class 'tuple'>
1280508371584

<h3>Modifying list of tuple</h3>

In [23]:
a[2][0] = 90

In [25]:
print(a)
print(type(a))
print(id(a))

(10, 20, [90, 40])
<class 'tuple'>
1280508371584

<h2>Accessing list of tuple using for-loop</h2>
<h3>example-1</h3>

In [45]:
for i in range(len(a)):
    if type(a[i]) is list:
        if len(a[i])>1:
            for j in range(len(a[i])):
                print(i,j,a[i][j])
    else:
        print(i,a[i])

0 10
1 20
2 0 90
2 1 40

<h3>example-2</h3>

In [48]:
b = [(10,20,30),(40,50,60)]
for i in range(len(b)):
    for j in range(len(b[i])):
        print(i,j,b[i][j])

0 0 10
0 1 20
0 2 30
1 0 40
1 1 50
1 2 60