In [ ]:
"""
There are two core objects in pandas that is:
    1. DataFrame
    2. Series

DataFrame requires a dictionary where "keys" is columns and "values" is rows (values must be in list)

If DataFrame is a table, a Series is a list.
"""

In [2]:
"""pip install jupyter notebook"""
import pandas as pd #pip install pandas

In [7]:
"""DataFrame"""
pd.DataFrame({"Yes": [50, 21], "No": [131, 2]})

   Yes   No
0   50  131
1   21    2

In [8]:
"""example2"""
data = {
    "Yes": [50, 21],
    "No": [131, 2]
    }
df = pd.DataFrame(data)
df

   Yes   No
0   50  131
1   21    2

In [9]:
"""DataFrame with a single value"""
data = {
    "Yes": [30],
    "No": [55]
}
df = pd.DataFrame(data)
df

   Yes  No
0   30  55

In [10]:
"""changing index value"""
index_value = ["one", "two", "three"]
data = {
    "name": ["Rahul", "Abid", "Rahman"],
    "age": [20, 34, 21],
    "class": ["9th", "12th", "Graduation"]
}
df = pd.DataFrame(data, index=index_value)
df

         name  age       class
one     Rahul   20         9th
two      Abid   34        12th
three  Rahman   21  Graduation

In [12]:
"""Series"""
s = pd.Series([1,2,3,5])
s

0    1
1    2
2    3
3    5
dtype: int64

In [14]:

s = pd.Series([30, 35,40], index=["2018 Sales", "2019 Sales", "2020 Sales"])
s

2018 Sales    30
2019 Sales    35
2020 Sales    40
dtype: int64

In [17]:
s = pd.Series([30, 35,40], index=["2018 Sales", "2019 Sales", "2020 Sales"], name="Sales Records")
s

2018 Sales    30
2019 Sales    35
2020 Sales    40
Name: Sales Records, dtype: int64