<p>
A Dictionary represents a group of elements in the form of key value pairs.<br>
Dictionary in python is an unordered collection.<br>
Dictionaries are mutable so we can modify it's item, without changing their identity.<br>
Dictionaries are represented using curly bracket {}.<br><br>

A Dictionary is created in the form of key-value pair where keys can't be repeated and must be immutable and values can be of any datatype and can be duplicated.<br>
Keys are case sensitive.<br>

We can access the value of a dictionary by referring to its key name, inside square brackets.<br>
    ex:- a = {101:'Rahul', 102:'Raj', 103:'Sonam'}<br>
    print(a[101])<br><br>
    
<b>While writing key we must follow the following rules:</b><br>
Key should be unique.<br>
If we mention same key again, the old key will be overwritten.<br>
Key should be immutable type ex:- integer, string, or tuple.<br>
We can't use list or dictionary as a key.<br>
</p>

<h2>Creating a dictionary</h2>

In [2]:
a = {} #creating an empty dictionary
a, type(a)

({}, dict)

In [3]:
a = {101: "Rahul", 102: "Raj", 103: "Sonam"}
a, type(a)

({101: 'Rahul', 102: 'Raj', 103: 'Sonam'}, dict)

In [6]:
fees = {"Rahul": 2000, "Raj": 3000, "Sonam": 8000, "raj": 1000}

<h2>Accessing dictionary</h2>

In [7]:
a[102]

'Raj'

In [13]:
fees["Sonam"], type("Sonam")

(8000, str)

<h2>Modifying dictionary</h2>
<p>We can modify the existing value of key by assigning a new value</p>

In [14]:
s = {101: "Rahul", 102: "Raj", 103: "Sonam"}
s, id(s)

({101: 'Rahul', 102: 'Raj', 103: 'Sonam'}, 2719018100096)

In [15]:
s[102] = "Kamal"
s, id(s)

({101: 'Rahul', 102: 'Kamal', 103: 'Sonam'}, 2719018100096)

<h2>Adding dictionary items</h2>
<p>We can add an item to dictionary just by mentioning a new key-value pair into an existing dictionary.
If we mention a key which is already exists in the dictionary then the value gets updated/modified rather then adding a new item.
The new item may be added at any place in the dictionary as dictionary is an unordered collection.</p>

In [28]:
s = {101: "Rahul", 102: "Raj", 103: "Sonam"}
s, id(s)

({101: 'Rahul', 102: 'Raj', 103: 'Sonam'}, 2719018479680)

In [29]:
s[104] = "Abdul Zoha" #to add an item
s, id(s)

({101: 'Rahul', 102: 'Raj', 103: 'Sonam', 104: 'Abdul Zoha'}, 2719018479680)

<h2>Deleting dictionary or it's items</h2>
<p>We can delete an item of dictionary or entire dictionary using del statement.</p>

In [30]:
s = {101: "Rahul", 102: "Raj", 103: "Sonam", 104: "Abdul Zoha"}
s

{101: 'Rahul', 102: 'Raj', 103: 'Sonam', 104: 'Abdul Zoha'}

In [31]:
del s[102] #to delete an item
s

{101: 'Rahul', 103: 'Sonam', 104: 'Abdul Zoha'}

In [32]:
del s #to delete entire dictionary

<h2>Test dictionary's key exist or not</h2>
<p>We can check whether a key is already exists in the dictionary or not, for this purpose we use membership operator.</p>

In [3]:
s = {101: "Rahul", 102: "Raj", 103: "Sonam"}

In [4]:
102 in s

True

In [5]:
103 not in s

False

In [6]:
if 102 in s:
    print(f"101 is exist")
else:
    print(f"102 is not exist")

101 is exist

<h2>Remove all elements from dictionary</h2>
<p>This method is used to remove all the elements from the dictionary</p>

In [7]:
s = {101: "Rahul", 102: "Raj", 103: "Sonam"}
s

{101: 'Rahul', 102: 'Raj', 103: 'Sonam'}

In [8]:
s.clear()
s

{}

<h2>Copy dictionary</h2>
<p>This method is used to copy all the elements from the existing dictionary into a new dictionary</p>

In [9]:
s = {101: "Rahul", 102: "Raj", 103: "Sonam"}
print(s)
print(id(s))

{101: 'Rahul', 102: 'Raj', 103: 'Sonam'}
2544459490048

In [10]:
new_s = s.copy() #to copy dictionary
print(new_s)
print(id(new_s))

{101: 'Rahul', 102: 'Raj', 103: 'Sonam'}
2544459487552

In [11]:
s[101] = "Abdul"

In [12]:
print(s)
print(new_s)

{101: 'Abdul', 102: 'Raj', 103: 'Sonam'}
{101: 'Rahul', 102: 'Raj', 103: 'Sonam'}

<h2>Create a dictionary using fromkeys() method</h2>
<p>This method is used to create a new dictionary with the specified keys and values.</p>

In [13]:
key = (101, 102, 103)
d = dict.fromkeys(key)
d

{101: None, 102: None, 103: None}

In [14]:
key = (101, 102, 103)
value = "Artificial World"
d = dict.fromkeys(key, value)
d

{101: 'Artificial World', 102: 'Artificial World', 103: 'Artificial World'}

In [15]:
key = (101, 102, 103)
value = ("Facebook", "Youtube", "Instagram")
d = dict.fromkeys(key, value)
d

{101: ('Facebook', 'Youtube', 'Instagram'),
 102: ('Facebook', 'Youtube', 'Instagram'),
 103: ('Facebook', 'Youtube', 'Instagram')}

<h2>get()_method</h2>
<p>This method returns the value of the specified key. If key is not found then it will return none or default value.</p>

In [16]:
s = {101: "Rahul", 102: "Raj", 103: "Sonam"}
s

{101: 'Rahul', 102: 'Raj', 103: 'Sonam'}

In [23]:
print(s.get(104))

None

In [25]:
print(s.get(104, "Value is not found...."))

Value is not found....

In [26]:
print(s.get(102, "Value is not found...."))

Raj

<h2>items() method</h2>
<p>This method returns an object that contains key-value pairs of dictionary.
The pairs are stored as tuple in the object.</p>

In [1]:
s = {101:'Rahul',102:'Raj',103:"Sonam"}
s

{101: 'Rahul', 102: 'Raj', 103: 'Sonam'}

In [5]:
ns = s.items() #to get dictionary items
print(ns, type(ns))

dict_items([(101, 'Rahul'), (102, 'Raj'), (103, 'Sonam')]) <class 'dict_items'>

In [6]:
ls = list(ns) #to convert into list
print(ls, type(ls))

[(101, 'Rahul'), (102, 'Raj'), (103, 'Sonam')] <class 'list'>

<h3>Accessing list items</h3>

In [7]:
ls[0]

(101, 'Rahul')

In [10]:
ls[1]

(102, 'Raj')

In [11]:
ls[0][0]

101

In [12]:
ls[0][1]

'Rahul'

<h2>keys() method</h2>
<p>This method returns a sequence of keys from the dictionary.</p>

In [13]:
s = {101:'Rahul',102:'Raj',103:"Sonam"}

In [20]:
ns = s.keys() #to get dict key
ns, type(ns)

(dict_keys([101, 102, 103]), dict_keys)

In [21]:
ls = list(ns) #to convert into list
print(ls)
print(type(ls))

[101, 102, 103]
<class 'list'>

<h2>values() method</h2>
<p>This method returns a sequence of values from the dictionary.</p>

In [22]:
s = {101:'Rahul',102:'Raj',103:"Sonam"}

In [23]:
ns = s.values() #to get dict value
ns, type(ns)

(dict_values(['Rahul', 'Raj', 'Sonam']), dict_values)

In [25]:
ls = list(ns) #to convert into list
print(ls)
print(type(ls))

['Rahul', 'Raj', 'Sonam']
<class 'list'>

<h2>update() method</h2>

In [29]:
s = {101: "Rahul",102: "Raj", 103:"Sonam"}
s

{101: 'Rahul', 102: 'Raj', 103: 'Sonam'}

In [31]:
s.update({104: "Sohan"}) #to update a single item
s

{101: 'Rahul', 102: 'Raj', 103: 'Sonam', 104: 'Sohan'}

In [34]:
s.update({"Name": "Rahul", "Addresss": "Ranchi", 105: "Artificial world"}) #to update multiple items
s

{101: 'Rahul',
 102: 'Raj',
 103: 'Sonam',
 104: 'Sohan',
 'Name': 'Rahul',
 'Addresss': 'Ranchi',
 105: 'Artificial world'}

<h2>pop() method</h2>
<p>This method is used to remove the item with specified key.<br>
It returns the removed item's value.<br>
If key is not found then a value is returned.<br>
If key is not found and default value is not given then shown KeyError.</p>

In [14]:
s = {101: "Rahul", 102: "Raj", 103: "Sonam"}
s

{101: 'Rahul', 102: 'Raj', 103: 'Sonam'}

In [15]:
s.pop(102)

'Raj'

In [16]:
s

{101: 'Rahul', 103: 'Sonam'}

In [17]:
s.pop(102, "The key is not found!")

'The key is not found!'

<h2>popitem() method</h2>
<p>This method is used to remove the item which was last inserted into the dictionary.<br>
It returns the removed item in the form of tuple, Pairs are returned in LIFO (Last In First Out) order.</p>

In [18]:
s = {101: "Rahul", 102: "Raj", 103: "Sonam"}
s

{101: 'Rahul', 102: 'Raj', 103: 'Sonam'}

In [19]:
s.popitem()

(103, 'Sonam')

<h2>setdefault() method</h2>
This method returns the value of the specified key.<br>
If key is not found then it inserts key with the specified value.

In [25]:
s = {101: "Rahul", 102: "Raj", 103: "Sonam"}
s

{101: 'Rahul', 102: 'Raj', 103: 'Sonam'}

In [26]:
s.setdefault(102) #it will return found value

'Raj'

In [27]:
s

{101: 'Rahul', 102: 'Raj', 103: 'Sonam'}

In [31]:
s.setdefault(104, "Abdul") #it will add value and return added value as well

'Abdul'

In [36]:
s

{101: 'Rahul', 102: 'Raj', 103: 'Sonam', 104: 'Abdul', 109: 'Zoha'}

<h2>Accessing dictionary using for-loop</h2>

In [37]:
s = {101: 'Rahul', 102: 'Raj', 103: 'Sonam', 104: 'Abdul', 109: 'Zoha'}
s

{101: 'Rahul', 102: 'Raj', 103: 'Sonam', 104: 'Abdul', 109: 'Zoha'}

In [38]:
for i in s:
    print(i)

101
102
103
104
109

In [39]:
for i in s:
    print(s[i])

Rahul
Raj
Sonam
Abdul
Zoha

In [40]:
for i in s:
    print(f"{i}: {s[i]}")

101: Rahul
102: Raj
103: Sonam
104: Abdul
109: Zoha

<h2>Getting dictionary input from user</h2>

In [41]:
s = {}
n = int(input("Enter the number of elements: "))
for i in range(n):
    key = input("Enter the key: ")
    value = input("Enter the value: ")
    s.update({key: value})
s

Enter the number of elements:  4
Enter the key:  101
Enter the value:  Abdul Zoha
Enter the key:  102
Enter the value:  Rahul
Enter the key:  103
Enter the value:  Akbar
Enter the key:  104
Enter the value:  Javed

{'101': 'Abdul Zoha', '102': 'Rahul', '103': 'Akbar', '104': 'Javed'}

<h2>Nested dictionary</h2>
<p>A dictionary within another dictionary is called as nested dictionary or nesting of a dictionary.</p>

<h3>Creating a nested dictionary</h3>

In [10]:
a = {"Course": "Python", "Fees": 15000, 1: {"Course": "JavaScript", "Fees": 10000}}

<h3>Accessing the nested dictionary</h3>

In [11]:
print(a)
print()
print(a["Course"])
print()
print(a[1])
print()
print(a[1]["Fees"])

{'Course': 'Python', 'Fees': 15000, 1: {'Course': 'JavaScript', 'Fees': 10000}}

Python

{'Course': 'JavaScript', 'Fees': 10000}

10000

<h3>Modifying nested dictionary</h3>

In [12]:
a["Course"] = "Machine Learning" #to modify dictionary
print(a)

{'Course': 'Machine Learning', 'Fees': 15000, 1: {'Course': 'JavaScript', 'Fees': 10000}}

In [13]:
a[1]["Fees"] = 25000
print(a)

{'Course': 'Machine Learning', 'Fees': 15000, 1: {'Course': 'JavaScript', 'Fees': 25000}}

<h3>Deleting element from nested dictionary</h3>

In [14]:
del a[1]["Course"]
print(a)

{'Course': 'Machine Learning', 'Fees': 15000, 1: {'Fees': 25000}}

<h3>Adding element to nested dictionary</h3>

In [15]:
a[1]["Duration"] = "6 Months"
print(a)

{'Course': 'Machine Learning', 'Fees': 15000, 1: {'Fees': 25000, 'Duration': '6 Months'}}

<h3>Adding dictionary into nested dictionary</h3>

In [16]:
a[2] = {"Course": "ReactsJS", "Fees": 30000}
print(a)

{'Course': 'Machine Learning', 'Fees': 15000, 1: {'Fees': 25000, 'Duration': '6 Months'}, 2: {'Course': 'ReactsJS', 'Fees': 30000}}

In [17]:
a[1][2] = {"Course": "CSS", "Fees": 6000}
print(a)

{'Course': 'Machine Learning', 'Fees': 15000, 1: {'Fees': 25000, 'Duration': '6 Months', 2: {'Course': 'CSS', 'Fees': 6000}}, 2: {'Course': 'ReactsJS', 'Fees': 30000}}